    <!-- Scroll To Top -->
    <div class="scrollToTop">
        <span class="arrow lh-1"><i class="ti ti-arrow-big-up fs-18"></i></span>
    </div>
    <div id="responsive-overlay"></div>
    <!-- Scroll To Top -->

<script>
    // popover option script we can remove it
    import "../scripts/js/defaultmenu.js"
    import "../scripts/libs/@popperjs/core/umd/popper.min.js"
    import "bootstrap"
    import "../scripts/js/simplebar.js"
</script>