---
const { activepage, title, subtitle, currentpage } = Astro.props;
---

<div class="page-header-breadcrumb mb-3">
    <div class="d-flex align-center justify-content-between flex-wrap">
        <h1 class="page-title fw-medium fs-18 mb-0">{activepage}</h1>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">{title}</a>
            </li>
            {
                subtitle && (
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0);">{subtitle}</a>
                    </li>
                )
            }
            <li class="breadcrumb-item active" aria-current="page">
                {currentpage}
            </li>
        </ol>
    </div>
</div>
