@using Microsoft.AspNetCore.Components

@if (showPassword)
{
    <form class="position-relative">
        <input type="text" class="form-control form-control-lg" id="" placeholder="Enter Password" @attributes="AdditionalAttributes" @bind="@Password">
        <a href="javascript:void(0);" class="show-password-button text-muted" @onclick="ToggleVisibility"><i class="align-middle ri-eye-line"></i></a>
    </form>
}
else
{
    <form class="position-relative">
        <input type="password" class="form-control form-control-lg" id="" placeholder="Enter Password" @attributes="AdditionalAttributes" @bind="@Password">
        <a href="javascript:void(0);" class="show-password-button text-muted" @onclick="ToggleVisibility"><i class="align-middle ri-eye-off-line"></i></a>
    </form>
}

@code {
    [Parameter]
    public string? Password { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }

    private bool showPassword = false;

    private void ToggleVisibility()
    {
        showPassword = !showPassword;
    }
}
