---
import favIcon from "../assets/images/brand-logos/favicon.ico";
import "../styles/scss/styles.scss";
import "../styles/scss/icon.scss";

const { Seo, bodyClass } = Astro.props;
---

<!doctype html>
<html
    lang="en"
    dir="ltr"
    data-nav-layout="vertical"
    data-theme-mode="light"
    data-header-styles="transparent"
    data-width="fullwidth"
    data-menu-styles="transparent"
    data-page-style="flat"
    data-toggled="close"
    data-vertical-style="doublemenu"
    data-toggled="double-menu-open"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href={favIcon} />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="keywords"
            content="admin bootstrap template,admin dashboard bootstrap,admin dashboard design,admin panel template,astro admin template,astro dashboard,astro ui framework,bootstrap admin panel,bootstrap astro,bootstrap dashboard template,dashboard astro,dashboard for bootstrap,dashboard in javascript,dashboard ui template,template admin bootstrap"
        />
        <title>Vyzor - {Seo}</title>
        <script src="../scripts/js/authentication-main.js"></script>
    </head>
    <body class={bodyClass}>
        <slot />
        <script>
            import "bootstrap";
        </script>
    </body>
</html>
