---
import LandingSwitcher from "../components/landingpage/LandingSwitcher.astro";
import favIcon from "../assets/images/brand-logos/favicon.ico";
import Styles from "../components/landingpage/Styles.astro";
import Header from "../components/landingpage/Header.astro";
import Sidebar from "../components/landingpage/Sidebar.astro";
import Footer from "../components/landingpage/Footer.astro";
import Scripts from "../components/landingpage/Scripts.astro";
const { Seo, bodyClass } = Astro.props;
---

<!doctype html>
<html
    lang="en"
    dir="ltr"
    data-nav-layout="horizontal"
    data-nav-style="menu-hover"
    data-menu-position="fixed"
    data-theme-mode="light"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href={favIcon} />
        <meta name="generator" content={Astro.generator} />
        <meta
			name="keywords"
			content="admin bootstrap template,admin dashboard bootstrap,admin dashboard design,admin panel template,astro admin template,astro dashboard,astro ui framework,bootstrap admin panel,bootstrap astro,bootstrap dashboard template,dashboard astro,dashboard for bootstrap,dashboard in javascript,dashboard ui template,template admin bootstrap"
		/>
        <title>Vyzor - {Seo}</title>
        <Styles />
    </head>
    <body class={bodyClass}>
        <LandingSwitcher />
        <div class="landing-page-wrapper">
            <Header />
            <Sidebar />
            <div class="main-content landing-main">
                <slot />
            </div>
            <Footer />
        </div>
        <Scripts />
        <script>
            import "bootstrap";
        </script>
    </body>
</html>
