
@page "/nft/walletintegration"

<!-- Start::page-header -->
<div class="page-header-breadcrumb mb-3">
    <div class="d-flex align-center justify-content-between flex-wrap">
        <h1 class="page-title fw-medium fs-18 mb-0">Wallet Integration</h1>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboards</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">NFT</a></li>
            <li class="breadcrumb-item active" aria-current="page">Wallet Integration</li>
        </ol>
    </div>
</div>
<!-- End::page-header -->

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-3">
        <div class="card custom-card overflow-hidden">
            <div class="card-header">
                <div class="card-title">
                    Choose Network
                </div>
            </div>
            <div class="card-body p-0">
                <ul class="list-group list-group-flush nft-list">                 
                    @foreach (var wallet in Wallets)
                    {
                        <li class="list-group-item">
                            <a href="javascript:void(0);" class="stretched-link"></a>
                            <div class="d-flex align-items-center gap-2">
                                <div>
                                    <span class="avatar avatar-rounded avatar-sm bg-light p-1">
                                        <img src="@wallet.ImagePath" alt="@wallet.Name">
                                    </span>
                                </div>
                                <div class="fs-14 fw-medium">@wallet.Name</div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-9">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Choose Wallet
                </div>
                <div>
                    <button class="btn btn-secondary btn-wave">Add New Wallet</button>
                </div>
            </div>
            <div class="card-body p-4">
                <div class="row justify-content-center">
                    <div class="col-xxl-3">
                        <div class="card custom-card nft-wallet active">
                            <div class="card-body p-3">
                                <a href="javascript:void(0);" class="stretched-link"></a>
                                <div class="d-flex align-items-center justify-content-center gap-3">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded p-2 bg-light">
                                            <img src="../assets/images/nft-images/22.png" alt="">
                                        </span>
                                    </div>
                                    <div>
                                        <h6 class="fw-medium mb-0">MetaMask</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3">
                        <div class="card custom-card nft-wallet">
                            <div class="card-body p-3">
                                <a href="javascript:void(0);" class="stretched-link"></a>
                                <div class="d-flex align-items-center justify-content-center gap-3">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded p-2 bg-light">
                                            <img src="../assets/images/nft-images/23.png" alt="">
                                        </span>
                                    </div>
                                    <div>
                                        <h6 class="fw-medium mb-0">Enjin Wallet</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3">
                        <div class="card custom-card nft-wallet">
                            <div class="card-body p-3">
                                <a href="javascript:void(0);" class="stretched-link"></a>
                                <div class="d-flex align-items-center justify-content-center gap-3">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded bg-light">
                                            <img src="../assets/images/nft-images/20.png" alt="">
                                        </span>
                                    </div>
                                    <div>
                                        <h6 class="fw-medium mb-0">Trust Wallet</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3">
                        <div class="card custom-card nft-wallet">
                            <div class="card-body p-3">
                                <a href="javascript:void(0);" class="stretched-link"></a>
                                <div class="d-flex align-items-center justify-content-center gap-3">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded bg-light p-2">
                                            <img src="../assets/images/nft-images/24.png" alt="">
                                        </span>
                                    </div>
                                    <div>
                                        <h6 class="fw-medium mb-0">Coinbase Wallet</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3">
                        <div class="card custom-card nft-wallet">
                            <div class="card-body p-3">
                                <a href="javascript:void(0);" class="stretched-link"></a>
                                <div class="d-flex align-items-center justify-content-center gap-3">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded bg-light p-2">
                                            <img src="../assets/images/nft-images/19.png" alt="">
                                        </span>
                                    </div>
                                    <div>
                                        <h6 class="fw-medium mb-0">Lido</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3">
                        <div class="card custom-card nft-wallet">
                            <div class="card-body p-3">
                                <a href="javascript:void(0);" class="stretched-link"></a>
                                <div class="d-flex align-items-center justify-content-center gap-3">
                                    <div class="lh-1">
                                        <span class="avatar avatar-rounded bg-light">
                                            <img src="../assets/images/nft-images/27.png" alt="">
                                        </span>
                                    </div>
                                    <div>
                                        <h6 class="fw-medium mb-0">Huobi Wallet</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div>
                    <button class="btn btn-success float-end btn-wave">Connect</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->

@code{

    public class Wallet_Integration
{
    public string? Name { get; set; }
    public string? ImagePath { get; set; }
}

    private List<Wallet_Integration> Wallets = new()
    {
        new Wallet_Integration { Name = "Etherium", ImagePath = "../assets/images/nft-images/34.png" },
        new Wallet_Integration { Name = "Binance", ImagePath = "../assets/images/nft-images/33.png" },
        new Wallet_Integration { Name = "Solana", ImagePath = "../assets/images/nft-images/32.png" },
        new Wallet_Integration { Name = "Tezos", ImagePath = "../assets/images/nft-images/28.png" },
        new Wallet_Integration { Name = "Avalanche", ImagePath = "../assets/images/nft-images/30.png" },
        new Wallet_Integration { Name = "Cardano", ImagePath = "../assets/images/nft-images/29.png" }
    };


}
