---
import Layout from "../../layouts/Layout.astro"
import Pageheader from "../../components/Pageheader.astro"
import "../../scripts/libs/jsvectormap/jsvectormap.min.css"
---

<Layout Seo="Vector Maps">
<Pageheader title="Maps" activepage="Vector Maps" currentpage="Vector Maps" />
<!-- Start::row-1 -->
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Basic Vector Map</div>
                            </div>
                            <div class="card-body">
                                <div id="vector-map"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Map With Markers</div>
                            </div>
                            <div class="card-body">
                                <div id="marker-map"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Map With Image Markers</div>
                            </div>
                            <div class="card-body">
                                <div id="marker-image-map"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Map With Lines</div>
                            </div>
                            <div class="card-body">
                                <div id="lines-map"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">US Vector Map</div>
                            </div>
                            <div class="card-body">
                                <div id="us-map"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Russia Vector Map</div>
                            </div>
                            <div class="card-body">
                                <div id="russia-map"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Spain Vector Map</div>
                            </div>
                            <div class="card-body">
                                <div id="spain-map"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Canada Vector Map</div>
                            </div>
                            <div class="card-body">
                                <div id="canada-map"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End::row-1 -->
 <script>
        import "../../scripts/libs/jsvectormap/jsvectormap.min.js";
        import "../../scripts/libs/jsvectormap/maps/world-merc.js";
        import "../../scripts/js/us-merc-en.js";
        import "../../scripts/js/russia.js";
        import "../../scripts/js/spain.js";
        import "../../scripts/js/canada.js";
        import "../../scripts/js/jsvectormap.js";
        import "../../scripts/js/custom.js";
    </script>
</Layout>