//@forward '../js/assets/css/styles.css';
@forward '../js/assets/scss/styles.scss';
@forward 'simplebar-react/dist/simplebar.min.css';
@forward 'react-datepicker/dist/react-datepicker.css';
@forward "swiper/swiper-bundle.css";
@forward "filepond/dist/filepond.min.css";
@forward "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css";
@forward "suneditor/dist/css/suneditor.min.css";
@forward "gridjs/dist/theme/mermaid.css";
@forward "yet-another-react-lightbox/styles.css";
@forward 'yet-another-react-lightbox/plugins/thumbnails.css';
@forward "react-color-palette/css";
@forward 'react-listbox/dist/react-listbox.css';
@forward "react-country-state-city/dist/react-country-state-city.css";
@forward "react-phone-number-input/style.css";
@forward "@yaireo/tagify/dist/tagify.css";
@forward "plyr-react/plyr.css";
@forward "shepherd.js/dist/css/shepherd.css";
@forward 'react-autocomplete-input/dist/bundle.css';
@forward 'react-dragula/dist/dragula.css'; // react dragula
@forward "react-range-slider-input/dist/style.css";
@forward 'glightbox/dist/css/glightbox.css';
@forward "leaflet/dist/leaflet.css";

.VYZOR-kanban-board {
    .task-Null {
        &::before {
            background-image: url("#{$base-url}/build/assets/images/media/media-81.svg") !important;
        }
    }
}
