@charset "UTF-8";
@import url("../icon-fonts/RemixIcons/fonts/remixicon.css");
@import url("../icon-fonts/feather/feather.css");
@import url("../icon-fonts/bootstrap-icons/icons/font/bootstrap-icons.min.css");
@import url("../icon-fonts/tabler-icons/webfont/tabler-icons.css");
@import url("../icon-fonts/line-awesome/1.3.0/css/line-awesome.css");
@import url("../icon-fonts/boxicons/css/boxicons.css");
@import url("../icon-fonts/fontawesome/css/all.css");
@import url("../icon-fonts/ionicons/fonts/react-listbox.css");

