        <!-- Main Theme Js -->
        <script src="{{ url_for('static', filename='assets/js/authentication-main.js') }}"></script>

        <!-- Bootstrap Css -->
        <link id="style" href="{{ url_for('static', filename='assets/libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" >

        <!-- Style Css -->
        <link href="{{ url_for('static', filename='assets/css/styles.css') }}" rel="stylesheet" >

        <!-- Icons Css -->
        <link href="{{ url_for('static', filename='assets/css/icons.css') }}" rel="stylesheet" >
