@page "/maps/leafletmaps"

<!-- Start::page-header -->
<div class="page-header-breadcrumb mb-3">
    <div class="d-flex align-center justify-content-between flex-wrap">
        <h1 class="page-title fw-medium fs-18 mb-0">Leaflet Maps</h1>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Maps</a></li>
            <li class="breadcrumb-item active" aria-current="page">Leaflet Maps</li>
        </ol>
    </div>
</div>
<!-- End::page-header -->


<!-- Start::row-1 -->
<div class="row">
<div class="col-xl-6">
    <div class="card custom-card">
        <div class="card-header">
            <div class="card-title">Leaflet Map</div>
        </div>
        <div class="card-body">
            <div class="leaflet-1">
                <RealTimeMap height="300px" Parameters="@parameters"></RealTimeMap>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-6">
    <div class="card custom-card">
        <div class="card-header">
            <div class="card-title">Map With Custom Icon</div>
        </div>
        <div class="card-body">
            <div class="leaflet-1"> 
                <RealTimeMap @ref="Iconmap" Height="300px" Parameters="@parameterimages"></RealTimeMap>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-6">
    <div class="card custom-card">
        <div class="card-header">
            <div class="card-title">Interactive Choropleth Map</div>
        </div>
        <div class="card-body">
            <div class="leaflet-1"> 
                <RealTimeMap @ref="realTimeMap" height="300px" Parameters="@parameters1" OnClickMap="onClickMap"></RealTimeMap>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End::row-1 -->

@code {   
    
 // Map With Image        
    RealTimeMap? Iconmap;  

    RealTimeMap.LoadParameters parameterimages = new RealTimeMap.LoadParameters()
    {
        location = new RealTimeMap.Location()
        {
            longitude = 26.0986576,
            latitude = 44.4444138
        },
        zoomLevel  = 16
    }; 
 
    // Map With Image

    RealTimeMap? realTimeMap;    
    public void onClickMap(RealTimeMap.ClicksMapArgs value)
    {
    }

    RealTimeMap.LoadParameters parameters1 = new RealTimeMap.LoadParameters()
    {
        location = new RealTimeMap.Location()
        {
            longitude = 261.29882812500006,
            latitude = 35.96689214303232
        },
        zoomLevel = 3
    };

    RealTimeMap.LoadParameters parameters = new RealTimeMap.LoadParameters()
    {
        location = new RealTimeMap.Location()
        {
            longitude = 26.097133,
            latitude = 44.446165
        },
        zoomLevel = 10,
        
    };

} 
