<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-vertical-style="overlay" data-theme-mode="light" data-header-styles="light" data-menu-styles="light" data-toggled="close">

    <head>

        <!-- Meta Data -->
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Description" content="Flask Responsive Admin Web Dashboard Template">
        <meta name="Author" content="Spruko Technologies Private Limited">
        <meta name="keywords" content="admin dashboard flask, admin panel bootstrap template, admin panel in flask, admin panel template, bootstrap admin panel, bootstrap dashboard, bootstrap template dashboard, bootstrap template flask, dashboard admin template, dashboard template bootstrap, flask admin dashboard template, flask and bootstrap, flask bootstrap dashboard, flask ui, framework flask.">
    
        <!-- TITLE -->
        <title> Vyzor - Flask Bootstrap 5 Premium Admin & Dashboard Template </title>

        <!-- Favicon -->
        <link rel="icon" href="{{ url_for('static', filename='assets/images/brand-logos/favicon.ico') }}" type="image/x-icon">

        {% include 'components/custom-styles.html' %}

        {% block styles %}{% endblock %}

	</head>

    {% block body %}{% endblock %}

        <!-- Start::app-content -->
        {% block content %}{% endblock %}
        <!-- End::app-content -->

        {% include 'components/custom-scripts.html' %}

        {% block scripts %}{% endblock %}
        <!-- End::scripts -->

	</body>
</html>

