---
import { Image } from "astro:assets";

const { blog } = Astro.props;
---

<a href="javascript:void(0);">
    <div class="card custom-card overlay-card blog-card text-fixed-white">
        <img src={blog.imgSrc.src}  class="card-img" alt="..." />
        <div
            class="card-img-overlay d-flex flex-column p-0 over-content-bottom"
        >
            <div class="card-footer border-top-0 text-center">
                <h6 class="fw-semibold mb-0 text-fixed-white">
                    {blog.title}
                </h6>
            </div>
        </div>
    </div>
</a>
