---
import Layout from "../../../layouts/Layout.astro";
import Pageheader from "../../../components/Pageheader.astro";
import face1 from "../../../assets/images/faces/1.jpg"
import { Image } from "astro:assets";
---

<Layout Seo="Apex Area Charts">
    <Pageheader
        title="Charts"
        currentpage="Apex Area Charts"
        subtitle="Apex Charts"
        activepage="Apex Area Charts"
    />
    <!-- Start::row-1 -->
    <div class="row">
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Basic Area Chart</div>
                </div>
                <div class="card-body">
                    <div id="area-basic"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Spline Area Chart</div>
                </div>
                <div class="card-body">
                    <div id="area-spline"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">
                        Area Chart With Negative Values
                    </div>
                </div>
                <div class="card-body">
                    <div id="area-negative"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Selection-Github Style Chart</div>
                </div>
                <div class="card-body">
                    <div id="chart-months"></div>
                    <div class="github-style d-flex align-items-center">
                        <div class="me-2">
                            <Image
                                class="userimg rounded"
                                src={face1}
                                data-hovercard-user-id="634573"
                                alt=""
                                width="38"
                                height="38"
                            />
                        </div>
                        <div class="userdetails lh-1">
                            <a class="username fw-medium fs-14">coder</a>
                            <span class="cmeta d-block mt-1">
                                <span class="commits"></span> commits
                            </span>
                        </div>
                    </div>
                    <div id="chart-years"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Stacked Area Chart</div>
                </div>
                <div class="card-body">
                    <div id="area-stacked"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Irregular Time Series Chart</div>
                </div>
                <div class="card-body">
                    <div id="area-irregular"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Area Chart With Null Values</div>
                </div>
                <div class="card-body">
                    <div id="area-null"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header d-flex">
                    <div class="card-title">
                        Area Chart-Datetime X-Axis Chart
                    </div>
                    <div class="btn-group ms-auto">
                        <button class="btn btn-primary btn-sm" id="one_month"
                            >1M</button
                        >
                        <button class="btn btn-primary btn-sm" id="six_months"
                            >6M</button
                        >
                        <button class="btn btn-primary btn-sm" id="one_year"
                            >1Y</button
                        >
                        <button class="btn btn-primary btn-sm" id="all"
                            >ALL</button
                        >
                        <!-- <button class="btn btn-primary btn-sm" id="ytd">ALL</button> -->
                    </div>
                </div>
                <div class="card-body">
                    <div id="area-datetime"></div>
                </div>
            </div>
        </div>
    </div>
    <!--End::row-1 -->

    <script>
        import "../../../scripts/js/custom.js";
        import "../../../scripts/js/apexcharts-area.js";
    </script>
</Layout>
