---
import Layout from "../../../layouts/Layout.astro";
import Pageheader from "../../../components/Pageheader.astro";
---

<Layout Seo="Apex Funnel Charts">
    <Pageheader
        title="Charts"
        subtitle="Apex Charts"
        currentpage="Apex Funnel Charts"
        activepage="Apex Funnel Charts"
    />

    <!-- Start::row-1 -->
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Funnel Chart</div>
                            </div>
                            <div class="card-body">
                                <div id="funnel-chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card custom-card">
                            <div class="card-header">
                                <div class="card-title">Pyramid Chart</div>
                            </div>
                            <div class="card-body">
                                <div id="pyramid-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End::row-1 -->

    <script>
        import "../../../scripts/js/custom.js";
        import "../../../scripts/js/apexcharts-funnel.js";
    </script>
</Layout>
