---
import Layout from "../../../layouts/Layout.astro";
import Pageheader from "../../../components/Pageheader.astro";
---

<Layout Seo="Apex Line Charts">
    <Pageheader
        title="Charts"
        currentpage="Apex Line Charts"
        subtitle="Apex Charts"
        activepage="Apex Line Charts"
    />
    <!-- Start::row-1 -->
    <div class="row">
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Basic Line Chart</div>
                </div>
                <div class="card-body">
                    <div id="line-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Line Chart With Data Labels</div>
                </div>
                <div class="card-body">
                    <div id="line-chart-datalabels"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Zoomable Time Series</div>
                </div>
                <div class="card-body">
                    <div id="zoom-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Line With Annotations</div>
                </div>
                <div class="card-body">
                    <div id="annotation-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Brush Chart</div>
                </div>
                <div class="card-body">
                    <div id="brush-chart1"></div>
                    <div id="brush-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">StepLine Chart</div>
                </div>
                <div class="card-body">
                    <div id="stepline-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Gradient Line Chart</div>
                </div>
                <div class="card-body">
                    <div id="gradient-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Missing/Null Values Chart</div>
                </div>
                <div class="card-body">
                    <div id="null-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Real Time Chart</div>
                </div>
                <div class="card-body">
                    <div id="dynamic-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Dashed Line Chart</div>
                </div>
                <div class="card-body">
                    <div id="dashed-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card custom-card">
                <div class="card-header">
                    <div class="card-title">Syncing Charts</div>
                </div>
                <div class="card-body">
                    <div id="chart-line"></div>
                    <div id="chart-line2"></div>
                    <div id="chart-area"></div>
                </div>
            </div>
        </div>
    </div>
    <!--End::row-1 -->

    <script>
        import "../../../scripts/js/custom.js";
        import "../../../scripts/js/apexcharts-line.js";
    </script>
</Layout>
