---
import Layout from "../../layouts/Layout.astro";
import Pageheader from "../../components/Pageheader.astro";
---

<Layout Seo="Empty">
    <Pageheader title="Pages" currentpage="Empty" activepage="Empty" />
    <!-- Start::row-1 -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card custom-card">
                <div class="card-body">
                    <h6 class="mb-0">Empty Card</h6>
                </div>
            </div>
        </div>
    </div>
    <!--End::row-1 -->
    <script>
        import "../../scripts/js/custom.js";
    </script>
</Layout>
