---
import Layout from "../../layouts/Layout.astro";
import Pageheader from "../../components/Pageheader.astro";
import { TeamMembers } from "../../shared/data/pages/teamdata";
import SpkTeamcard from "../../shared/@spk-reusable-components/reusable-pages/spk-teamcard.astro";
---

<Layout Seo="Team">
    <Pageheader title="Pages" currentpage="Team" activepage="Team" />
    <!-- Start:: row-1 -->
    <div
        class="row row-cols-xxl-5 row-cols-xl-4 row-cols-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-1"
    >
        {
            TeamMembers.map((idx) => (
                <div class="col">
                    <SpkTeamcard member={idx} />
                </div>
            ))
        }
    </div>
    <!-- End:: row-1 -->
    <script>
        import "../../scripts/js/custom.js";
    </script>
</Layout>
