a{
    color: #5965f9;
}
.text-primary {
    color: #5965f9 !important;
}
.card .card-block {
    padding: 15px 15px 0 15px !important;
}

// .bg-danger {
//   background-color: #ff5959 !important;
// }
