@use "variables";
#carouselpremier1,
#carouselpremier2 {
  .slick-slide img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
.crypto-swiper,
.swiper-related-products {
  .slick-track {
    display: flex !important;
    gap: 20px;
  }
}
.landing-swiper {
  .slick-track {
    display: flex !important;
    gap: 20px;
  }
}
.landing-swiper1 {
  .slick-track {
    display: flex !important;
    gap: 25px;
  }
}
.ts-wrapper {
  min-height: calc(1.5em + 1.04rem + var(--bs-border-width) * 2) !important;
}

#buy-crypto,
#sell-crypto {
  .input-group > .ts-wrapper {
    .ts-control {
      width: 85px !important;
    }
  }
  .has-items .ts-control > input {
    display: none !important;
  }
}
#golem-price-graph,
#iota-price-graph,
#ripple-price-graph,
#dash-price-graph,
#etherium-price-graph,
#bitcoin-price-graph {
  overflow: hidden;
}

.ts-wrapper.multi .ts-control > div {
  padding: 3px 8px !important;
}

.ts-wrapper.plugin-remove_button:not(.rtl) .item .remove {
  border-inline-start: 1px solid rgba(255, 255, 255, 0.3) !important;
  border-inline-end: 0 solid rgba(255, 255, 255, 0.3) !important;
}

[dir="rtl"] {
  .ts-wrapper.plugin-remove_button .item .remove {
    border-inline-start: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-inline-end: 0px solid rgba(255, 255, 255, 0.3) !important;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    transform: rotate(180deg);
  }
}

.blazorwizard-step {
  font-weight: 500;
  &:before {
    font-family: "remixicon" !important;
    padding: 0.5rem !important;
    vertical-align: middle !important;
    line-height: 1 !important;
    border-radius: 50% !important;
    display: inline-flex;
    box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.17);
    background-color: variables.$primary-005;
    color: variables.$primary;
  }
  &.active {
    &:before {
      background-color: rgba(255, 255, 255, 0.2);
      color: #fff;
    }
  }
}
.blazorwizard-step.Shipping:before {
  content: "\f231";
}
.blazorwizard-step.Personal:before {
  content: "\f256";
}
.blazorwizard-step.Payment:before {
  content: "\ea92";
}
.blazorwizard-step.Complete:before {
  content: "\eb81";
}

.product-details-page,
.testimonialSwiperService {
  .slick-dots {
    position: relative !important;
    margin: 65px 0 0 0 !important;
    inset-block-end: 25px !important;
  }
}
.swiper-related-products {
  .slick-arrow {
    color: variables.$white !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
    &::before {
      color: variables.$white !important;
    }
  }
}

.slick-arrow {
  width: 1.563rem !important;
  height: 1.563rem !important;
  color: variables.$default-text-color !important;
  // background-color: variables.$light !important;
  border-radius: variables.$default-radius !important;
  box-shadow: none !important;
  &::before {
    color: variables.$default-text-color !important;
  }
}

.slick-arrow:after {
  font-size: 0.75rem !important;
  font-weight: 800 !important;
}

.slick-prev,
.stocks-slide .slick-next {
  left: 25px !important;
  right: auto !important;
  &::before {
    content: "\ea64" !important;
    font-family: "remixicon" !important;
  }
}

.slick-next,
.stocks-slide .slick-prev {
  right: 25px !important;
  left: auto !important;
  &::before {
    content: "\ea6e" !important;
    font-family: "remixicon" !important;
  }
}
#security {
  .ts-wrapper {
    margin-bottom: 24px;
  }
}
#carouselExampleSlidesOnly {
  .slick-list {
    border-radius: 0 !important;
  }
}
.testimonialSwiper1,
.testimonialSwiper2 {
  .slick-track {
    display: flex !important;
    gap: 25px;
  }
}
.companies-search-input1 {
  &.input-group .ts-wrapper {
    width: 20%;
    .ts-control {
      border-start-start-radius: 0px !important;
      border-start-end-radius: 0px !important;
      border-end-end-radius: 0px !important;
      border-end-start-radius: 0px !important;
    }
  }
}
@media screen and (max-width: 622px) {
  .companies-search-input1 {
    &.input-group .ts-wrapper {
      width: 100%;
      margin-bottom: 0.5rem;
      .ts-control {
        border-start-start-radius: 0.25rem !important;
        border-start-end-radius: 0.25rem !important;
        border-end-end-radius: 0.25rem !important;
        border-end-start-radius: 0.25rem !important;
      }
    }
  }
}
.create-nft-item {
  .filepond--root {
    margin: 0 auto;
  }
}
.WMBOS.loading {
  .WMBOS-loading {
    display: none !important;
  }
}
.dropdown-input {
  color: variables.$default-text-color;
}
.ql-editor.ql-blank::before {
  color: variables.$default-text-color !important;
}
[dir="rtl"] {
  #calendar2 {
    .btn-group {
      .btn {
        i {
          transform: rotate(180deg);
        }
      }
    }
  }
  .markup svg {
    transform: rotate(180deg) !important;
  }
  .ql-editor li > .ql-ui:before {
    margin-right: -1.5em;
    margin-left: 0.3em;
    text-align: left;
  }
}
.buy-crypto1 {
  .form-control {
    width: 65%;
  }
  .ts-wrapper:not(.form-control, .form-select).single {
    .ts-control {
      background-color: variables.$primary !important;
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'><path fill='white' d='M480-360 280-560h400L480-360Z'/></svg>") !important;

      > * {
        color: #fff;
      }
    }
  }
}
.jvm-tooltip {
  display: none;
}
@media (min-width: 992px) {
  [data-nav-layout="horizontal"] {
    .app-sidebar {
      .WMBOS-content {
        overflow: hidden;
      }
      .os-content-glue {
        height: 0rem !important;
      }
      .os-host-overflow {
        overflow: visible !important;
      }
      .os-host-overflow > .os-padding {
        overflow: visible;
        position: static;
      }
      .os-viewport,
      .os-content {
        position: inherit;
      }
      .os-scrollbar {
        display: none !important;
      }
    }
    &[data-nav-style="icon-click"] .os-padding {
      position: static;
    }
    &[data-nav-style="icon-hover"] .os-padding {
      position: static;
    }
  }
}

@media (min-width: 992px) {
  [data-toggled="menu-click-closed"],
  [data-toggled="menu-hover-closed"],
  [data-toggled="icon-click-closed"],
  [data-toggled="icon-hover-closed"],
  [data-toggled="icon-text-close"] {
    &:not([data-nav-layout="horizontal"]) {
      .main-sidebar {
        .os-host {
          padding-block-end: 5rem;
        }
        .os-host-textarea {
          padding-block-end: 5rem;
        }
      }
      .app-content {
        min-height: calc(100vh + 50rem);
      }
      .app-sidebar {
        .os-host {
          height: auto;
        }
        .os-host-textarea {
          height: auto;
        }
        .os-padding {
          position: static !important;
        }
        .os-viewport {
          position: inherit !important;
          overflow: visible !important;
        }
        .os-content-glue {
          height: 5rem !important;
        }
        .os-content {
          width: auto !important;
          position: inherit !important;
          overflow: visible !important;
        }
      }
    }
    .app-sidebar {
      .os-scrollbar {
        display: none !important;
      }
    }
  }
  [data-nav-layout="vertical"] {
    .main-menu {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
}
@media (min-width: 992px) {
  [data-nav-layout="horizontal"] {
    &[data-nav-style="menu-click"],
    &[data-nav-style="menu-hover"],
    &[data-nav-style="icon-click"],
    &[data-nav-style="icon-hover"] {
      .app-sidebar {
        .os-padding {
          position: static;
        }
      }
    }
  }
}
#buy-crypto,
#sell-crypto {
  .input-group > .ts-wrapper {
    width: 75px !important;
  }
}
.crypto-buy-sell-card {
  .input-group > .ts-wrapper .ts-control, #sell-crypto .input-group > .ts-wrapper .ts-control {
      width: 75px !important;
  }
  .input-group > .ts-wrapper, #sell-crypto .input-group > .ts-wrapper {
    width: 75px !important;
  }
}
@media (max-width: 575.98px) {
  .header-element.dropdown {
    position: initial;
  }
}

.stocks-swiper, .pos-orders-swiper, .related-jobs-swiper, .testimonial1-swiper {
    .slick-track {
        display: flex !important;
        gap: 1rem !important;
    }
}
#product-table table[theme="default"] thead  tr th  , #product-table tbody tr td {
    border-left-width: 0 !important;
    border-right-width: 0 !important;
}
/****Quick Grid Table***/
table[theme="default"] {
    text-align: start !important;
    font-size: 0.813rem !important;
    font-weight: 500 !important;
    border-collapse: collapse;
    display: table;
    margin: 0;
    max-width: 100%;
    overflow: auto;
    padding: 0;
    table-layout: fixed;
    text-align: left;
    width: 100%;
    thead {
      tr{
        th {
          cursor: pointer;
          background-color: var(--custom-white) !important;
          border: 1px solid var(--default-border) !important;
          color: var(--default-text-color) !important;
          padding: 0.75rem !important;
          border-top: none;
          box-sizing: border-box;
          outline: none;
          position: relative;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          vertical-align: middle;
          white-space: nowrap;
        }
      }
    }
    tbody{
      tr{
        td{
          padding: 0.75rem !important;
          
    border: 1px solid variables.$default-border !important;
        }
      }
      &:last-child tr {
        td{
          border-bottom: 0 !important;
        }
      }
    }
}

.quickgrid[theme=default] button.col-title:hover, .quickgrid[theme=default] .col-options-button:hover{
  background: transparent !important;
}
.quickgrid[theme=default] .sort-indicator{
  opacity: 1 !important;  
}
/****Quick Grid Table***/

//blazer calendar 
// #calendar2 .monthly-task {
//   height: 3vh !important;
// }
[data-nav-style=menu-click][data-nav-layout=horizontal] .app-sidebar .slide.has-sub .slide-menu.active {
    inset-inline-start: auto !important;
    inset-inline-end: auto !important;
}
.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
    background: transparent !important;
}
[dir="rtl"] {
  .offcanvas.offcanvas-end {
    top: 0;
    left: 0 !important;
    right: auto !important;
  } 
  .form-check .form-check-input {
      float: right;
      margin-left: 0.5em;
  }
  .offcanvas-header .btn-close {
      margin-right: auto !important;
      margin-left: 0px !important;
  }
  .list-unstyled {
    padding-right: 0 !important;
    padding-left: auto !important;
  }
  .main-header-dropdown.dropdown-menu {
    inset: 0px auto auto 0px !important
  }
}


//styles//

.os-content{
  border:0px !important;
}


// #product-features{
//   .ql-snow .ql-picker.ql-expanded .ql-picker-options {
//     inset-inline-end: -47px !important;
//   }
// }

[data-theme-mode="dark"]{
  [alt="Ripple (XRP)"]{
    filter:invert(1)
  }
}


.ts-wrapper.single.plugin-remove_button{
  .ts-control{
    .item{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}

// .ql-snow .ql-picker.ql-expanded .ql-picker-options {
//   inset-inline-end: -47px !important;
// }

[dir="rtl"]{
  .nft-main-banner-card{
    direction: ltr;
  }
}

.related-jobs-swiper{
  .slick-slide{
    width: 553px !important;
  }
}

@media screen and (max-width: 700px) {
  .companies-search-input{
    .ts-wrapper{
      width: 100% !important;
      margin-bottom: 0.5rem;
      .ts-control{
        border-radius: 0.25rem !important;
      }
    }
  }
}

@media screen and (min-width: 700px) {
.ts-wrapper.select-language{
  width: 60px !important;
}
}

@media (min-width: 992px) {
  [data-vertical-style="doublemenu"][data-theme-mode="dark"]{
     .app-sidebar .slide-menu.child1 .side-menu__item:hover .side-menu-doublemenu__icon {
      color: #fff;
      fill: #fff;
    }
  }
}

.pos-orders-swiper{
  .slick-next,.slick-prev{
    background-color: rgba(0,0,0,0.1) !important;
  }
}

.calendar-container{
  .task{
     color: #fff !important;
  }
}

.ql-container.ql-bubble:not(.ql-disabled) a:not(.ql-close)::before {
  background-color: rgb(68, 68, 68);
  border-radius: 15px;
  top: 45px !important;
  font-size: 12px;
  color: rgb(255, 255, 255);
  content: attr(href);
  font-weight: normal;
  overflow: hidden;
  padding: 5px 15px;
  text-decoration: none;
  z-index: 10000000;
  position: absolute !important;
}

.ql-container.ql-bubble:not(.ql-disabled) a:not(.ql-close)::after {
  border-bottom: 6px solid rgb(68, 68, 68) !important;
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
  border-top: transparent !important;
  top: 22px !important;
  content: " ";
  height: 0px;
  width: 0px;
}

.faq-accordion{

  --bs-accordion-border-color: transparent !important;

  .accordion-button{
    border-bottom: 0px !important;
  }

  .accordion-button::after {
    background-size: 13px !important;
    background-position: 4px 5px !important;
  }
}



@media (min-width: 992px) {
  [data-menu-styles="dark"][data-vertical-style="doublemenu"][data-toggled="double-menu-open"][data-menu-styles="dark"][data-theme-mode="dark"]{
    &[data-bg-img="bgimg1"],&[data-bg-img="bgimg2"],&[data-bg-img="bgimg3"],&[data-bg-img="bgimg4"],&[data-bg-img="bgimg5"]{
      .slide-menu.child1.doublemenu_slide-menu{
        background-color: rgb(var(--body-bg-rgb)) !important;
        background-image: none !important;
      }
    }
  }
}

// .slick-next,.slick-prev{
//   background-color: rgba(255,255,255,0.3) !important;
// }

.default-tree-view-ul li:not(:last-child) {
  border-bottom: 0 !important;
}

.default-tree-view-ul{
  overflow-x: scroll;
  &::-webkit-scrollbar {
    width: 0rem !important;
    height: 0px !important;
  }
}

.jvm-container{
  svg{
    margin-inline: auto;
  }
}

a.avatar.bg-primary{
  &:hover{
    color:#fff !important;
  }
}

.gridjs-pagination .gridjs-pages {
  button:not(:last-child){
    border-inline-end: 0px !important;
  }
}

#delete-datatable{
  padding-inline-end: 1px;
}

.product-table{
  .paginator{
    margin-top: 0px !important;
  }
}

.authentication-cover{
  .authentication-cover-logo{
    z-index: 3;
  }
}

.color-primary-light{
  .buttonColor{
    border-radius: 50% !important;
    position: relative;
    &:after {
      content: "\efc5";
      font-family: remixicon !important;
      color: rgba(255, 255, 255, 0.7);
      line-height: 1.5;
      font-size: 1.25rem;
      inset-inline-start: 5px;
      position: absolute;
    }
  }
}

[data-menu-styles="dark"][data-theme-mode="light"]{
  .doublemenu_bottom-menu{
    border-top: 1px solid rgba(255,255,255,0.1) !important;
  }
}

.table-wrapper {
  overflow-x: auto;
}

table.quickgrid {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  min-width: 600px;
}

[dir="rtl"]{
  #chart-5{
  .apexcharts-menu{
    display: none !important;
  }
  }
}


.jvm-container{
   svg{
    width: 100% !important;
   }
}

#sales-locations{
  display: flex;
  justify-content: center;
}

.paginator {
  flex-wrap: wrap;
}

.sort-indicator{
  width: 0.75rem !important;
  height: 0.75rem !important;
}

.product-details-swiper{
  .slick-slider{
    .slick-dots{
      li{
        button{
          width: 20px !important;
          height: 20px !important;
        }
      }
    }
  }
  .slick-next.slick-arrow, .slick-prev.slick-arrow{
    &::before{
       color: #fff !important;
      //  filter: invert(0);
    }
  }
}

.quickgrid{
  border-bottom: 1px solid var(--default-border);
}

.authentication-cover-content{
  position: relative;
  z-index: 1;
}

.form-check-input.form-checked-orange:checked {
  background-color: rgb(var(--orange-rgb));
  border-color: rgb(var(--orange-rgb));
}

@media (max-width: 992px) {
  [data-page-style="regular"][data-header-styles="light"]{
    .main-body-container{
      margin-block-start: 0.75rem;
    }
  }
}

.accordion-button:not(.collapsed) {
  background-color: var(--default-background) !important;
  color: var(--default-text-color) !important;
  .accordion-button {
    background-color: var(--custom-white) !important;
    color: var(--default-text-color) !important;
    padding: 0.75rem 1rem !important;
    font-size: 0.85rem !important;
    font-weight: 500 !important;
}
}

.WMBSC .slick-prev, .WMBSC .slick-next {
  top: calc(50% - 4px) !important;
}

.paginator{
  nav{
    flex-wrap: wrap;
  }
}

.image-fill-chart{
  .apexcharts-xaxis{
    transform: translateY(10px) !important;
  }
}

@media (max-width: 400px) {
  .image-fill-chart .apexcharts-xaxis {
    transform: translateY(23px) !important;
  }
}
@media (min-width: 992px){
  [data-vertical-style=doublemenu][data-nav-layout=vertical]{
    .side-menu__item.active{
          .badge.bg-primary-transparent{
            color: #fff !important;
            background-color: #ffffff54 !important;
          }
    }
  }
}
[data-menu-styles="light"][data-theme-mode="dark"]{
    .os-content::-webkit-scrollbar {
    background: transparent !important;
  }
}