//@forward '../js/assets/css/styles.css';
@forward '../js/assets/scss/styles.scss';
@forward 'simplebar-react/dist/simplebar.min.css';
@forward 'react-datepicker/dist/react-datepicker.css';

.VYZOR-kanban-board {
    .task-Null {
        &::before {
            background-image: url("#{$base-url}/build/assets/images/media/media-81.svg") !important;
        }
    }
}
