@page "/apexcharts/funnelcharts"
@using ApexCharts
@using System.Collections.Generic
@using System.Threading.Tasks

<!-- Start::page-header -->
<div class="page-header-breadcrumb mb-3">
    <div class="d-flex align-center justify-content-between flex-wrap">
        <h1 class="page-title fw-medium fs-18 mb-0">Apex Funnel Charts</h1>
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">
                    Charts
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="javascript:void(0);">
                    Apex Charts
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Apex Funnel Charts</li>
        </ol>
    </div>
</div>
<!-- End::page-header -->

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Funnel Chart</div>
            </div>
            <div class="card-body">
                <ApexChart TItem="Funnelbasic" Height="350" Title="Recruitment Funnel" Options=options>
                    <ApexPointSeries TItem="Funnelbasic" Items="Funnelbasics" Name="Gross Value" Color="#985ffd" XValue="@(e => e.Country)" SeriesType="SeriesType.Bar" YAggregate="@(e => e.Sum(e => e.GrossValue))" OrderByDescending="e=>e.Y" ShowDataLabels/>
                </ApexChart>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Pyramid Chart</div>
            </div>
            <div class="card-body">
                <ApexChart TItem="FunnelGradient" Height="350" Title="Pyramid Chart" Options="options2">
                    <ApexPointSeries TItem="FunnelGradient"
                                    Items="FunnelGradients"
                                    Name="Gross Value"
                                    XValue="@(e => e.Country)"
                                    SeriesType="SeriesType.Bar"
                                    YAggregate="@(e => e.Sum(e => e.GrossValue))"
                                    ShowDataLabels />
                </ApexChart>

            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->

@code {
    private List<Funnelbasic> Funnelbasics { get; set; } = SampleDataFunnelbasic.GetFunnelbasics();
    private ApexChartOptions<Funnelbasic>? options;
    public static class SampleDataFunnelbasic
    {
        public static List<Funnelbasic> GetFunnelbasics()
        {
            return new List<Funnelbasic>
            {
                new Funnelbasic { Country = "Sourced", GrossValue = 1380 },
                new Funnelbasic { Country = "Screened", GrossValue = 1100 },
                new Funnelbasic { Country = "Assessed", GrossValue = 990 },
                new Funnelbasic { Country = "HR Interview", GrossValue = 880 },
                new Funnelbasic { Country = "Technical", GrossValue = 740 },
                new Funnelbasic { Country = "Verify", GrossValue = 548 },
                new Funnelbasic { Country = "Offered", GrossValue = 330 },
                new Funnelbasic { Country = "Hired", GrossValue = 200 },
            };
        }
    }
    public class Funnelbasic
    {
        public string? Country { get; set; }
        public int GrossValue { get; set; }
    }
    
    private List<FunnelGradient> FunnelGradients { get; set; } = SampleDataFunnelGradient.GetFunnelGradients();
    private ApexChartOptions<FunnelGradient>? options2;
    public static class SampleDataFunnelGradient
    {
        public static List<FunnelGradient> GetFunnelGradients()
        {
            return new List<FunnelGradient>
            {
                new FunnelGradient { Country = "Sweets", GrossValue = 200 },
                new FunnelGradient { Country = "Processed Foods", GrossValue = 330 },
                new FunnelGradient { Country = "Healthy Fats", GrossValue = 548 },
                new FunnelGradient { Country = "Meat", GrossValue = 740 },
                new FunnelGradient { Country = "Beans & Legumes", GrossValue = 880 },
                new FunnelGradient { Country = "Dairy", GrossValue = 990 },
                new FunnelGradient { Country = "Fruits & Vegetables", GrossValue = 1100 },
                new FunnelGradient { Country = "Grains", GrossValue = 1380 },
            };
        }
    }
    public class FunnelGradient
    {
        public string? Country { get; set; }
        public int GrossValue { get; set; }
    }
    protected override void OnInitialized()
    {
        options = new ApexChartOptions<Funnelbasic>
        {
            Title = new Title{
                Text = "Recruitment Funnel",
                Align = ApexCharts.Align.Center,
            },
            Colors = new Color(new List<string> { "#985ffd" }),
            DataLabels = new ApexCharts.DataLabels {
                Enabled = true,
                Formatter= @"function (val, opt) {return opt.w.globals.labels[opt.dataPointIndex] + ':  ' + val}",
            }, 
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    Horizontal = true,
                    IsFunnel = true,
                    BarHeight= "80%",
                }
            }
        };

        FunnelGradients = SampleDataFunnelGradient.GetFunnelGradients()
        .OrderBy(e => e.GrossValue) 
        .ToList();
        options2 = new ApexChartOptions<FunnelGradient>
        {
            Title = new Title{
                Text = "Pyramid Chart",
                Align = ApexCharts.Align.Center,
            },
            DataLabels = new ApexCharts.DataLabels {
                Enabled = true,
                Formatter= @"function (val, opt) {
                return opt.w.globals.labels[opt.dataPointIndex] 
                }",
            }, 
            Legend = new(){
                Show = false
            },
            Colors = new Color(new List<string> { "#985ffd", "#ff49cd", "#fdaf22", "#32d484", "#00c9ff", "#ff6757", "rgba(53, 181, 170,1)", "rgb(190, 43, 235)" }),
            PlotOptions = new PlotOptions
            {
                Bar = new PlotOptionsBar
                {
                    Horizontal = true,
                    IsFunnel = true,
                    Distributed= true,
                    BarHeight= "80%",
                }
            }
        };
    }
}
